$color: #2b2a2f;
$alt-color1: white;
$alt-color2: rgb(180,180,180);
$alt-color3: rgb(20,90,200);
$alt-color4: #252530;
$alt-color5: rgb(67, 162, 245);
$alt-color6: rgb(225,225,225);
$alt-color7: rgb(244, 244, 244);
$alt-color8: #303030;